<div id="heading1">We offer 4 flavors of cake: Vanilla, Chocolate, Red Velvet, and Yellow. If you'd like a mix, just let us know!</div>
<div class="wrapper2">
  <div id="fullSheet">Full Sheet</div>
  <div id="halfSheet">Half Sheet</div>
  <div id="wedding">Wedding</div>
  <div id="custom">Custom</div>
  <div id="fullPrice">$65 plus additional cost for decorations</div>
  <div id="halfPrice">$40 plus additional for decorations</div>
  <div id="weddingPrice">Starting at $120</div>
  <div id="customPrice">Price depends on the needs of the cake!</div>
</div>
