
<div id="instructions">
  Please enter in your email address. If you are sending a request please give a short description of what you would like us to make for you. We will do our best to get back to you as soon as possible!
</div>

<form  method="POST" action="https://formspree.io/acappello459@outlook.com">
  <div class="wrapper6">
    <!-- <div id='enter'>Enter Your Email Here:</div> -->
  <input id='clientEmail' type="email" name="email" placeholder="Please enter your email here">
    <textarea id='emailText' rows= '8' cols='40' name="message" maxlength='300' placeholder="Please type your message here"></textarea>
  <button id='submit' type="submit">Send</button>
</div>
</form>
