<div id="heading">Cookies can only be ordered by platter size. Individual cookies are sold in-store only! Small platters contain 24 cookies, medium platters contain 48, and large platters contain 96.</div>
<div class="wrapper3">
  <div id="smallPlatter">Small Platter</div>
  <div id="mediumPlatter">Medium Platter</div>
  <div id="largePlatter">Large Platter</div>
  <div id="smallPrice">$12</div>
  <div id="mediumPrice">$20</div>
  <div id="largePrice">$35</div>
</div>
