<div class="wrapper3">
  <div id="heading">Cookies can only be ordered by platter size. Individual cookies are sold in-store only!</div>
  <div id="smallPlatter"></div>
  <div id="mediumPlatter"></div>
  <div id="largePlatter"></div>
  <div id="smallPrice"></div>
  <div id="mediumPrice"></div>
  <div id="largePrice"></div>
</div>
