<h1 id='title'>Welcome to Adam's Bakery</h1>
<p>We are a family owned bakery that has been operating since 2003. We specialize in cakes, cookies, and pies. <br>If you can bake it, we can make it!</p>
<div class="wrapper1">
  <a href='/cakes' id="cake"><div id='text'>CAKES</div></a>
  <a href='/cookies' id="cookie"><div id='text'>COOKIES</div></a>
  <a href='/pies' id="pie"><div id='text'>PIES</div></a>
</div>
