<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adam's Bakery</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="main-container">
    <nav id='navbar'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href="/cakes">Cakes</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/pies">Pies</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  <%= yield %>
</div>



    <script type="text/javascript" src='../javascript/javascript.js'>

    </script>
  </body>
</html>
