<div id="heading3">All pies are 10 inch circle pies, all cost $15, and you can choose between: Blueberry, Cherry, Pumpkin, Chocolate, Grape, and of course Apple! If you don't see a flavor that you would like please email us and we can figure something out!</div>
<div class="wrapper5">
  <div id="piepic1"></div>
  <div id="piepic2"></div>
  <div id="piepic3"></div>
  <div id="piepic4"></div>
</div>
