#instructions{
  width: 50%;
  font-size: 2em;
  text-shadow: -1px 0 #890909, 0 1px #890909, 1px 0 #890909, 0 -1px #890909;
  color: white;
  text-align: center;
  background:rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  border-radius: 10px;
}
.wrapper6{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
#enter{
  grid-row: 1/2;
}
#clientEmail{
width: 25%;
height: 3vh;
margin: auto auto;
grid-row: 1/2;
// margin: 0 auto;
box-sizing: border-box;
}

#emailText{
height: 25vh;
width: 25%;
// padding:0;
margin: auto auto;
grid-row: 2/3;
box-sizing: border-box;
resize: none;
}

#submit{
  grid-row: 3/4;
  box-sizing: border-box;
  height: 4vh;
  width: 10%;
  margin: auto auto;
}
